body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
    margin: 20px;
}

.container {
    width: 50%; /* Adjust width as needed */
   background-color: #faebdc;/* Light yellow background */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* Centering the container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(97, 68, 25);
    font-family: 'Times New Roman', Times, serif
    
    
}

.recipe-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.recipe-details {
    width: 50%;
    text-align: left;
}

.recipe-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
