body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
   background: rgb(241, 230, 203);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.recipe-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.recipe-details {
    width: 50%;
    text-align: left;
}

.recipe-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
